.chip {
    display: inline-block;
    padding: 8px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .selected {
    background-color: #3498db;
    color: #fff;
  }
  
  input {
    padding: 8px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none; /* Remove the default outline on focus */
  }
  